footer
	.container
		.row
			.col-xs-12
				hr
				i.text-muted All content is &copy; 2015 Cooper Smith, all rights reserved, unless otherwise noted.
// JS assets placed at end for faster page loading
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='http://code.jquery.com/jquery.js')
// Bootstrap: JS
script(src='/js/bootstrap.min.js')
