head
	title Cooper Smith

	//- "Standard" Bootstrap tag (not using).
	//- meta(name='viewport', content='width=device-width, initial-scale=1.0')

	//- Crazy Bootstrap mobile tag.
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

	//- Local CSS
	link(href='/css/local.css', rel='stylesheet')
