doctype html
html(lang='en')
	include head
	body
		.container
			.row
				.col-xs-12
					.page-header
						h1 Cooper Smith

			// projects
			.row
				.col-xs-12
					h2 Projects
				
			.row
				.col-xs-1
					img.img-bubble.img-circle(src="/img/drums.jpg")
				.col-xs-11
					b Jazz drums
					p Bebop, soul, funk, and everything in-between.

			.row
				.col-xs-1
					img.img-responsive.img-circle(src="/img/kanji.jpg")
				.col-xs-11
					b Japanese
					p Speaking, reading, writing, and cultural studies.

			.row
				.col-xs-1
					img.img-responsive.img-circle(src="/img/pixel.png")
				.col-xs-11
					b Video game design and art
					p Projects in progress.

			.row
				.col-xs-1
					a(href="http://www.twitch.tv/schmidlak")
						img.img-responsive.img-circle(src="/img/twitch.png")
				.col-xs-11
					b Twitch streaming
					p Dynamite Headdy speedruns and more.

			.row
				.col-xs-1
					a(href="https://www.facebook.com/StartDieReset")
						img.img-responsive.img-circle(src="/img/sdr.png")
				.col-xs-11
					b Start Die Reset &mdash; podcast
					p A weekly podcast about games and more.

			.row
				.col-xs-1
					a(href="http://startdiereset.blogspot.com/")				
						img.img-responsive.img-circle(src="/img/blogger.png")
				.col-xs-11
					b The Digital Odyssey &mdash; gaming blog
					p Video game notes and reviews.

			// work
			.row
				.col-xs-12
					h2 Work
				

			.row
				.col-xs-1
					img.img-responsive.img-circle(src="/img/uw.gif")
				.col-xs-11
					b U-PASS Liason
					p Part of the UW Transportation Services Team; supports outreach to UW students and program operations.

			.row
				.col-xs-1
					img.img-responsive.img-circle(src="/img/jcccw.jpg")
				.col-xs-11
					b Japanese Cultural & Community Center of Washington
					p Volunteer Administrative Support & Special Events. July 2015 &mdash; September 2015.

			.row
				.col-xs-1
					img.img-responsive.img-circle(src="/img/mariners.jpg")
				.col-xs-11
					b Seattle Mariners 
					p Event Staff, Ticketing (Sales, Will Call, Exchange). February 2015 &mdash; August 2015.

			.row
				.col-xs-1
					img.img-responsive.img-circle(src="/img/chc.png")
				.col-xs-11
					b Community Health Charities of Washington
					p Data Entry. Entering pledges for the 2014 CFC Campaign. December 2014.
					
			.row
				.col-xs-1
					img.img-responsive.img-circle(src="/img/cshs.png")
				.col-xs-11
					b Chief Sealth International High School
					p Volunteer Teacher's Assistant, Japanese. October 2013 &mdash; June 2015.

			// edu
			.row
				.col-xs-12
					h2 Education
				

			.row
				.col-xs-1
					img.img-responsive.img-circle(src="/img/uw.gif")
				.col-xs-11
					b Masters of Public Administration, University of Washington.
					p Evan's School of Public Policy and Governance. Enrolled 2015.

			.row
				.col-xs-1
					img.img-responsive.img-circle(src="/img/uw.gif")
				.col-xs-11
					b Bachelor of Arts, Cum Laude, University of Washington.
					p Political Science. 2009 &mdash; 2013.

			// contact
			.row
				.col-xs-12
					h2 Contact
			.row
				.col-xs-12
				
					a(href="mailto:cooper@schmidlak.com")
						| cooper@schmidlak.com
					
					br
					br
					
					a(href="https://www.facebook.com/cooper.smith.758")
						img.contact.img-circle(src="/img/facebook.png")
						
						a(href="https://www.linkedin.com/in/ctsmith13")
							img.contact.img-circle(src="/img/linkedin.png")
							
						a(href="https://twitter.com/CTSchmidlak")
							img.contact.img-circle(src="/img/twitter.png")						
								
						a(href="https://www.youtube.com/user/CTSchmidlak")
							img.contact.img-circle(src="/img/youtube.png")														
											
		include footer
